.product-cart {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 3fr 2fr;
  box-shadow: 0 0 20px 1px #222;
  border-radius: 15px;
  align-items: center;
  gap: 1.5em;
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.quantity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1em;
}

.quantity > p {
  grid-row: span 2;
  align-self: center;
}

.quantity > button {
  justify-self: end;
  background-color: #003366;
  font-size: 1.3em;
  padding: 0;
  width: 2em;
  height: 2em;
}

.product-price {
  justify-self: end;
}

.remove-button {
  background-color: #f47422;
  margin: 0 3em;
}

.product-price > h2,
.product-info > h2 {
  color: black;
}

.product-info > p,
.product-price > p,
.quantity > p {
  color: #838386;
}
